@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F1FF;
}

.container {
    width: 870px;
    margin: 30px auto 0;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.container-title {
    font-size: 24px;
    color: #562EFF;
    margin-bottom: 50px;
    text-align: center;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

/* Member Board Styles */


.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.member {
    display: flex;
    align-items: center;
    gap: 15px;
}

.member img {
    width: 56px;
    height: 56px;
}

.member-name {
    font-size: 18px;
}

/* -------------------------
Blogs Section Styles
----------------------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.blog {
    display: flex;
    gap: 16px;
    box-shadow: 2px 2px 2px 2px #F3F1FF;
    border-radius: 10px;
    padding: 10px;
}

.blog-banner img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
    color: #000000;
}

.blog-description {
    font-size: 16px;
    color: #9F9F9F;
}

/* Videos Section Styles */
.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.video {
    box-shadow: 2px 2px 2px 2px #F3F1FF;
    border-radius: 10px;
    padding: 10px;
}

.video img {
    width: 224px;
    height: 104px;
}

.video-title {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Media Queries */

/* Mobile Device Responsive */
@media only screen and (max-width:668px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 15px;
        padding-left: 15px;
    }

    .container-title {
        font-size: 20px;

    }

    /* Management Board styles */
    .members {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Blogs Styles */
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Videos Section Styles */
    .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    .video{
        display: flex;
        gap: 10px;
    }
}

    /* Pad Device Responsive */
    @media only screen and (min-width:668px) and (max-width:992px) {

        .container {
            width: 100%;
            margin: 0;
            padding: 0;
            padding-top: 10px;
        }

        .container-title {
            font-size: 20px;
        }

        /* Management Board styles */
        .members {
            grid-template-columns: repeat(2, 1fr);
        }

        /* Videos Section Styles */
        .videos {
            grid-template-columns: repeat(2, 1fr);
        }
    }
