@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F1FF;
}

.container {
    width: 870px;
    margin: 30px auto 0;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* Member Board Styles */
.management-board-title {
    font-size: 24px;
    color: #562EFF;
    margin-bottom: 50px;
    text-align: center;
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.member {
    display: flex;
    align-items: center;
    gap: 15px;
}

.member img {
    width: 56px;
    height: 56px;
}

.member-name {
    font-size: 18px;
}

/* Media Queries */

/* Mobile Device Responsive */
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 15px;
    }
    .management-board-title{
        font-size: 20px;
        
    }
    .members {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Pad Device Responsive */
@media only screen and (min-width:668px)  and (max-width:992px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .management-board-title{
        font-size: 20px;
    }
    .members {
        grid-template-columns: repeat(2, 1fr);
    }
}
.hide{
    display: none;
}
